<div class="detailContainer">
    <img src={{product.src}} />

    <ul>
        <li>
            <h3>{{product.product_name}}</h3>
        </li>
        <li>
            <p>Price:&nbsp;&nbsp;&#36;</p>{{product.product_price}}
        </li>
        <li>
            <p>Category:&nbsp;&nbsp;</p>{{product.product_category}}
        </li>
        <li>
            <p>Description:&nbsp;&nbsp;</p>{{product.description}}
        </li>

        <select name="quantity" [(ngModel)]="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>

        <li>
            <button (click)="onAddToCart(product, quantity)">Add to Cart</button>
        </li>
    </ul>

</div>